<div style="align: center; width: 100%;">
    <a href="https://www.stadsmissionen.org/bli-mensfadder/" target="_blank"><img style="width: 30%;" src="/img/HIA/tamtext.png" alt="göteborgs stadmission"></a>
</br>
    Share, discuss, and combat <span class="red"><strong>period poverty</strong></span>!
</div>

<a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
</a>
<a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
</a>